@CHARSET "ISO-8859-1";

body {
	font-family: 'Roboto Condensed', sans-serif;
	background: #fff;
	font-weight: 300;
	line-height: 1.7;
	overflow-x: hidden;
}

.navbar.navbar-default.navbar-fixed-top {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 10px;
}

.title {
	color: #fa782e;
	border: 2px solid #000;
	padding: 5px;
	font-size: 20px;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 60px;
}

.title:hover {
	color: #000;
}

.navbar.nav li a:focus {
	background: #fa782e;
}

.dropdown ul li a:hover {
	background: #000;
}

.navbar.navbar-default.navbar-fixed-top  a {
	color: #fa782e;
	font-size: 15px;
}

.btn.btn-default {
	font-size: 15px;
	color: #fff;
	border-radius: 3px;
	background: #000;
}

.nav.navbar-nav.navbar-right li a {
	font-size: 15px;
	color: #fa782e;
}

.nav.navbar-nav.navbar-right li a:focus {
	color: #000;
}

.nav.navbar-nav.navbar-right li a:active {
	color: #000;
}

.btn.btn-default {
	color: #fa782e;
	background: #fff;
}

.btn.btn-cart {
	margin-left: 20px;
	background: #000;
	width: 50px;
}

.container {
	padding-top: 100px;	
}

.carousel {
	border: 1px solid #c3c3c3;
	background-color: #ffffff;
	color: #000000;
	height: 422px;
	width: 100%;
	padding-top:20px;
}

.carousel-caption {
	margin-right: 500px;
	padding-bottom: 150px;
	color: #F0F700;
}

.cw-content {
	padding-top: 20px;
	padding-bottom: 50px;
}

.list-group-item[aria-expanded="true"] {
	color: #000000;
	background-color: Orange !important;
}

.footer {
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
	background: #656565;
	color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ff8000;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
	background: #ff8000;
}

.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.form .message a {
	color: #ff8000;
	text-decoration: none;
}

.form .register-form {
	display: none;
}

input[type=radio], input.radio {
	float: left;
	clear: none;
	margin: 2px 0 0 2px;
}

ul>li {
	margin-right: 25px;
	font-weight: lighter;
	cursor: pointer
}

li.active {
	border-bottom: 3px solid silver;
}

.item-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #f6f6f6;
}

.menu-items {
	list-style-type: none;
	font-size: 11px;
	display: inline-flex;
	margin-bottom: 0px;
	margin-top: 20px
}

.btn-success {
	width: 100%;
	border-radius: 0px;
}

.section {
	width: 100%;
	margin-left: -15px;
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
	background: #f8f9f9
}

.title-price {
	margin-top: 30px;
	margin-bottom: 0px;
	color: black
}

.title-attr {
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}

.btn-minus {
	cursor: pointer;
	font-size: 7px;
	display: flex;
	align-items: center;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid gray;
	border-radius: 2px;
	border-right: 0px;
}

.btn-plus {
	cursor: pointer;
	font-size: 7px;
	display: flex;
	align-items: center;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid gray;
	border-radius: 2px;
	border-left: 0px;
}

div.section>div {
	width: 100%;
	display: inline-flex;
}

div.section>div>input {
	margin: 0px;
	padding-left: 5px;
	font-size: 10px;
	padding-right: 5px;
	max-width: 18%;
	text-align: center;
}

.attr, .attr2 {
	cursor: pointer;
	margin-right: 5px;
	height: 20px;
	font-size: 10px;
	padding: 2px;
	border: 1px solid gray;
	border-radius: 2px;
}

.product-logo {
	margin-left: 270px;
	width: 1400px;
	height: 1400px;
}

.product-detail-2 .vendor-feedback {
	color: #A31C49;
	font-weight: bold;
}

.product-detail-2 .product-price, .product-detail-2 h2,
	.product-detail-2 h3, .product-detail-2 .vendor-reject {
	color: #0F960B;
	font-weight: bold;
}

.product-detail-2 .vendor-logo img {
	width: 100px;
	height: 100px;
}

.product-detail-2 .vendor-logo {
	margin: 13px 0;
}

.product-detail-2 .product-price {
	font-size: 18px;
}

.product-detail-2 .product-price span {
	font-weight: normal;
}

.product-detail-2 .btn-success {
	background: #99CC00;
	border: 1px solid #99CC00;
}

.product-detail-2 .carousel-inner {
	width: 100%;
	max-height: 300px !important;
}

.product-detail-2 .product-descriptions {
	word-wrap: break-word;
}

.cw-content-checkout {
	padding-top: 100px;
	padding-bottom: 50px;
}